html, body{
    height: 100%;
    color: white !important;
}

body{
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionTitle, #attackStatusDiv, #looseDiv, #winDiv{
    background: rgb(105, 105, 105);
    background: rgba(105, 105, 105, .4);
}

.character_img{
    max-width:150px;
    height: 130px;
    cursor:pointer;
}

.container-fluid{
    padding: 0px !important;
}

#attackButton{
    margin: 20px 0px !important;
}

.column{
    padding: 0px !important;
}

p {
    margin-bottom: 0px !important;
}

#attackStatusDiv, #looseDiv, #winDiv{
    margin-top: 20px;
}



